@using BootstrapBlazor.Components
@using BootstrapBlazor



    <nav class="d-flex navbar navbar-light bg-light  w-100 mb-2">
       <div class="container-lg" >
      
      
            <Button class="btn"  > aspect1 </Button>
            <Button class="btn"  > aspect2 </Button>
            <Button class="btn"  > aspect3 </Button>
            <Button class="btn"  > aspect4 </Button>
            <Button class="btn"  > aspect5 </Button>
        </div>
    </nav>



