@inherits LayoutComponentBase

<PageTitle>GISClient</PageTitle>

<div class="page">

    <div class=" d-flex flex-column  w-100">
        <NavMenu/>
      
        <main >
            
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</div>
